main {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   align-items: center;
   background-color: #e3e6f3;
   justify-content: space-around;
}

#info {
   width: 100%;
   font-size: 20px;
   margin: 20px 0px;
   padding: 0px 5px;
   color: #1A687F;
   font-weight: bolder;
}

#info p {
   margin-bottom: 10px;
}

.buttons {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-width: 60%;
   margin: 20px 0px 40px 0px;
}

.buttons button {
   border: none;
   outline: none;
   color: white;
   cursor: pointer;
   min-width: 150px;
   font-weight: bold;
   padding: 15px 30px;
   position: relative;
   border-radius: 5px;
   background-color: #37ACA9;
   transition: all 0.25s ease-in-out;

   &:hover {
      background-color: #3cc4bf;
   }
}

@media only screen and (max-width: 767px) {
   #info {
      font-size: 17px;
   }

   #info p {
      margin-bottom: 7px;
   }

   .buttons {
      min-width: 90%;
   }

   .buttons button {
      padding: 15px 20px;
      min-width: 100px;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}